latex/output/tcc.aux
latex/output/tcc.bbl
latex/output/tcc.brf
latex/output/tcc.blg
latex/output/tcc.fdb_latexmk
latex/output/tcc.log
latex/output/tcc.synctex.gz
latex/output/tcc.toc
latex/output/tcc.fls
