latex/output/tcc.aux
latex/output/tcc.bbl
latex/output/tcc.brf
latex/output/tcc.blg
latex/output/tcc.fdb_latexmk
latex/output/tcc.log
latex/output/tcc.synctex.gz
latex/output/tcc.toc
latex/output/tcc.fls
latex/output/abntex2cite-alf.aux
.gitignore
.gitignore
latex/output/abntex2cite-alf.log
.gitignore
.gitignore
latex/output/abntex2cite-alf.fdb_latexmk
.gitignore
latex/output/abntex2cite-alf.fls
latex/output/abntex2cite-alf.lot
latex/output/abntex2cite-alf.pdf
.gitignore
latex/output/abntex2cite-alf.out
latex/output/abntex2cite-alf.synctex.gz
latex/output/abntex2cite-alf.toc
latex/output/tcc.bcf
latex/output/tcc.run.xml
